.home-page{
    width: 100%;
    height: 100%;
}

.home-page .navbar{
    width: 90%;
    height: 76px;
    background-color: #F4F4F4;
    display: flex;
    border-radius: 104px;
    border: 10px solid var(--White, #FFF);
    background: #F4F4F4;
    box-shadow: 0px 111px 31px 0px rgba(0, 0, 0, 0.00), 0px 71px 28px 0px rgba(0, 0, 0, 0.01), 0px 40px 24px 0px rgba(0, 0, 0, 0.03), 0px 18px 18px 0px rgba(0, 0, 0, 0.04), 0px 4px 10px 0px rgba(0, 0, 0, 0.05);
    margin-left: 5vw;
    align-content: center;
}


.home-page .navbar .left-logo h4{
    color: #5A55D2;
font-family: "Open Sans";
font-size: 32px;
font-style: normal;
font-weight: 600;
line-height: normal;
}

.home-page .navbar .left-logo h4 a{
    color: var(--Secondary, #FFC100);
font-family: "Open Sans";
font-size: 32px;
font-style: normal;
font-weight: 600;
line-height: normal;

}

.home-page .navbar .left-logo {
    display: flex;
}


.home-page .navbar .middle{
    display: flex;
    gap: 3vw;
}

.home-page .navbar .right-buttons{
    display: flex;
    gap: 2vw;
}

.home-page .navbar .middle button{
    border: none;
    color: var(--Dark, #1A1E29);
    font-family: Inter;
    font-size: 13px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;

}

.home-page .navbar .right-buttons .log-in button{
    border-radius: 30px;
    border: 2px solid var(--Dark, #1A1E29);
    box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.06);
    display: flex;
    width: 145px;
    height: 39px;
    padding: 10px 19px;
    justify-content: center;
    align-items: center;
    gap: -2px;
    flex-shrink: 0;
    text-align: center;
   
    color: var(--Dark, #1A1E29);
    font-family: Inter;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.home-page .navbar .right-buttons .sign-up button {
    border-radius: 30px;
    background: var(--Dark, #1A1E29);
    box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.06);
    display: flex;
    width: 125px;
    height: 39px;
    padding: 10px 19px;
    align-items: flex-start;
    gap: -2px;
    flex-shrink: 0;
    color: var(--White, #FFF);
    font-family: Inter;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    justify-content: center;
    align-items: center;

}

.home-page .heading h3{
    color: var(--Dark, #1A1E29);
font-family: Inter;
font-size: 65px;
font-style: normal;
font-weight: 500;
line-height: normal;
letter-spacing: -2.88px;
margin-bottom: 3vw;
}

.home-page .heading h3 span{
    color: var(--Dark, #5A55D2);
font-family: Inter;
font-size: 65px;
font-style: normal;
font-weight: 900;
line-height: normal;
letter-spacing: -2.88px;
margin-bottom: 3vw;
}

.home-page .heading p{
    color: var(--Dark, #4f5463);
font-family: Inter;
font-size: 24px;
font-style: normal;
font-weight: 400;
line-height: normal;
letter-spacing: -0.96px;
margin-bottom: 3vw;
}

.home-page .heading {
    display: flex;
}

.home-page .heading .right{
    right: 0;
    position: absolute;
    width: 40%;
}

.home-page .heading .right img{
    max-width: 40vw;
    transform:translateY(5vh);
    
}

.home-page>svg{
    position: absolute;
    right: 0;
    top: -15vh;
    width: 40vw;
}

.home-page .heading .left{
    width: 60%;
}

.home-page .heading{
    width: 85%;
    margin-left:6vw ;
    margin-top: 10vh;
}

.home-page .heading  .btn-container {
    display: flex;
    gap: 2vw;
}


.home-page .heading  .btn-container .get-started{
    border-radius: 10px;
    background: #5A55D2;
    display: flex;
    width: 160px;
    padding: 14px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    color: var(--White, #FFF);
    text-align: center;
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: -0.96px;
}

.home-page .heading  .btn-container .watch-tutor{
    display: flex;
    width: 160px;
    height: 2vh;
    padding: 24px;
    align-items: center;
    gap: 10px;
    background-color:white ;
    border-radius: 10px;
    border: 3px solid #5A55D2;
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;

}

.home-page .key-features{
    background: var(--Dark, #1A1E29);
    padding: 5vw;
    margin-top: -4vh;
    width: 100%;    
}


.home-page .key-features>h4{
    color: var(--White, #FFF);
font-family: Inter;
font-size: 72px;
font-style: normal;
font-weight: 900;
line-height: normal;
letter-spacing: -2.88px;
margin-bottom: 5vh;

}

.home-page .key-features ul{
    list-style-type: none;
    display: flex;
    gap: 2vw;
    padding-left: 0;
}

.home-page .key-features p{
    color: var(--White, #9d9494);
    font-family: Inter;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: -0.96px;
    margin-bottom: 5vh;
}

.home-page .key-features li{
    border-radius: 16px;
    border: 5px solid var(--White, #FFF);
    background: #5A55D2;
    width: 23%;
    padding: 1vw;
}

.home-page .key-features li h4{
    color: var(--White, #FFF);
font-family: Inter;
font-size: 20px;
font-style: normal;
font-weight: 700;
line-height: normal;
}

.home-page .key-features ul li p{
    color: var(--White, #FFF);
font-family: Inter;
font-size: 12px;
font-style: normal;
font-weight: 500;
line-height: 16px; /* 133.333% */
letter-spacing: 0.06px;
}

.home-page .key-features ul li>div{
    display: flex;
    gap: 1vw;
    height: 4vh;
}

.home-page .key-features ul li>div>button{
    border-radius: 8px;
    background: var(--Dark, #1A1E29);
    display: flex;
    width: 96px;
    height: 28px;
    padding: 4px 10px;
    justify-content: center;
    align-items: center;
    gap: 6px;
    flex-shrink: 0;
    color: var(--White, #FFF);
    text-align: center;
    font-family: Inter;
    font-size: 8.6px;
    font-style: normal;
    font-weight: 700;
    line-height: 16px; /* 186.047% */
    margin-top: 2vh;
    margin-bottom: 2vh;
}


.home-page .border-svg{
    margin-top: 8vh;
    
    
}

.home-page .border-svg img{
    width: 100%;    

}

.home-page .top-tier {
    display: flex;
    margin: 5vw;
    gap: 4vw;
}

.home-page .top-tier>img{
    position: absolute;
    z-index: -100;
    width: 100%;
    margin-left: -5vw;
}

.home-page .top-tier .left img{
    width: 30vw;
}

.home-page .top-tier .right{
    width: 100%;
}

.home-page .top-tier .right ul{
    list-style-type: none;
    padding: 0;
}

.home-page .top-tier .right ul li{
    display: flex;
    gap: 1vw;
}

.home-page .top-tier .right h4{
    color: var(--Dark, #1A1E29);
font-family: Inter;
font-size: 52px;
font-style: normal;
font-weight: 700;
line-height: normal;
letter-spacing: -1.44px;
margin-bottom: 5vh;
}

.home-page .top-tier .right h4 span{
    color: var(--Dark, #5A55D2);
font-family: Inter;
font-size: 52px;
font-style: normal;
font-weight: 700;
line-height: normal;
letter-spacing: -1.44px;

}

.home-page .top-tier .right p{
    color: var(--Dark, #1A1E29);
font-family: Inter;
font-size: 18px;
font-style: normal;
font-weight: 500;
line-height: 16px; /* 88.889% */
letter-spacing: 0.09px;
}

.home-page .top-tier .right button{
    border-radius: 8px;
background: #5A55D2;
display: flex;
padding: 20px 40px;
justify-content: center;
align-items: center;
gap: 10px;
color: var(--White, #FFF);
font-family: Inter;
font-size: 18px;
font-style: normal;
font-weight: 500;
line-height: 23px; /* 127.778% */
letter-spacing: -0.36px;
}


.home-page .performance{
    padding: 3vw;
}

.home-page .performance>div{
    gap: 1vw;
    display: flex;
}


.home-page .performance>div>div{
     background: #F8F8F8;;
}

.home-page .performance>div>div h3{
    color: #000;
font-family: Inter;
font-size: 25px;
font-style: normal;
font-weight: 900;
line-height: normal;
letter-spacing: -1.6px;
}

.home-page .performance>h2{
    color: var(--Dark, #1A1E29);
font-family: Inter;
font-size: 72px;
font-style: normal;
font-weight: 900;
line-height: normal;
letter-spacing: -2.88px;
}

.home-page .performance>text{
    color: #000;
font-family: Inter;
font-size: 24px;
font-style: normal;
font-weight: 400;
line-height: normal;
letter-spacing: -0.96px;
opacity: 0.6;
}

.home-page .feedback{
    padding: 3vw;
}

.home-page .feedback>div{
    gap: 1vw;
    display: flex;
}


.home-page .feedback>div>div{
     background: #F8F8F8;;
}

.home-page .feedback>div>div h3{
    color: #000;
font-family: Inter;
font-size: 25px;
font-style: normal;
font-weight: 900;
line-height: normal;
letter-spacing: -1.6px;
}

.home-page .feedback>h2{
    color: var(--Dark, #1A1E29);
font-family: Inter;
font-size: 72px;
font-style: normal;
font-weight: 900;
line-height: normal;
letter-spacing: -2.88px;
}

.home-page .feedback>text{
    color: #000;
font-family: Inter;
font-size: 24px;
font-style: normal;
font-weight: 400;
line-height: normal;
letter-spacing: -0.96px;
opacity: 0.6;
}