.home{
    width: 100%;
    padding-top: 30px;
    padding-left: 20px;
    padding-right: 20px;
    background-color: #F5F5F5;
}


.home h4{
    font-family:'poppins';
    margin-bottom: 10px;
}    

.home-sec-1{
    display: flex;
    width: 100%;
  
    justify-content: space-between;
 
    gap: 20px;
}

.home-sec-1 .index{   
    width: 100%;
}
.home-sec-1 .index ul{
    display: flex;
    justify-content: space-between;
    gap: 20px;
    padding: 0;
  
}

.home-sec-1 .index ul li{
    background-color: dodgerblue;
    height: 100px;
    width: 270px;
    text-align: center;
    border-radius: 18.313px;
    background: var(--White, #FFF);
    box-shadow: 0px 4.88333px 39.06667px 0px rgba(0, 0, 0, 0.07);
    padding: 5px ;
}

.home-sec-1  .profile{
    /* background-color: royalblue; */
    width: 30%;
    text-align: center;
    border-radius: var(--Users, 20px);
    background: var(--White, #FFF);
    box-shadow: 0px 4.88333px 39.06667px 0px rgba(0, 0, 0, 0.07);
    margin-top: 36px;
    margin-bottom: -30px;
}

.home-sec-1 .profile img{
    height: 80px;
    width: 80px;
    border-radius: 80px;

}

.home-sec-2{
   
   
   
    gap: 20px;
    margin-bottom: 37px;
}
.home-sec-2 .sec-2-overview{
    width: 75%;
    height: 100%;
    margin-top: 10px;
}

.home-sec-2 .graph{

    width: 100%;
    height: 100%;
    text-align: center;
    border-radius: 18.313px;
background: var(--White, #FFF);
box-shadow: 0px 4.88333px 39.06667px 0px rgba(0, 0, 0, 0.07);
}

.home-sec-2 .watch-list-container{
    height: 100%;
    width: 25%;
}

.home-sec-2 .watch-list{
    /* background-color:teal ; */
    width:100%;
    height: 100%;
    border-radius: var(--Users, 20px);
    background: var(--White, #FFF);
box-shadow: 0px 4.88333px 39.06667px 0px rgba(0, 0, 0, 0.07);

}

.home-sec-2 .watch-list ul{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content:space-evenly;
}

.home-sec-2 .watch-list .watchlist-list ul li{
    display: flex;
    justify-content: space-between;
}
.home-sec-3{
    /* background-color: cadetblue; */
    height: 300px;
    display: flex;
    gap: 10px;
    padding-top: 35px;
}


.home-sec-3 .result , .home-sec-3 .news{
    /* background-color: lightsteelblue; */
    width:100%;
    border-radius: 18.313px;
background: var(--White, #FFF);
box-shadow: 0px 4.88333px 39.06667px 0px rgba(0, 0, 0, 0.07);
height: 100%;
}


.home-sec-3 .calender-container,  .home-sec-3 .news-container, .home-sec-3 .trend-container{
    width: 33%;
    height: 430px;
}

.home-sec-3 .result , .home-sec-3 .result{
    background-image: url('./../../../../../public/trending.svg');
    background-size: cover;
      /* backgroundImage: url(./trending.svg);
    backgroundSize: cover; */
      width: 100%;
      border-radius: 18.313px;
  background: var(--White, #FFF);
  box-shadow: 0px 4.88333px 39.06667px 0px rgba(0, 0, 0, 0.07);
    height: 100%;
}
  .home-sec-3 .trend{
    width: 100%;
    height: 100%;
    border-radius: 18.313px;
background: var(--White, #FFF);
box-shadow: 0px 4.88333px 39.06667px 0px rgba(0, 0, 0, 0.07);

}

/* .home .home-sec-3 .result img{
    width: 50%;
    height: 150%;
} */