.competition{
  background-color: whitesmoke;
  height: 100vh;
  padding: 1.5rem;
}

.competition .top{
    background-color:#0000FF;
    color: whitesmoke;
    display: flex;
    padding: 1rem;
    border-radius: 10px;
}


.competition .top-right{
   background-color: white;
    color: black;
    padding: 1rem;
    border-radius: 1rem;
}

.competition .bottom{
   margin-top: 10px;
}

.competition .bottom .challenge-list ul{
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    padding-left: 0 ;
}

.competition .bottom .challenge-list ul li{
    background-color: white;
    padding: 1.5rem;
    border-radius: 1rem;
    width: 33%;
}


.competition .btn-view{
    background-color:#0000FF;
    color: white;
    border-radius: 5px;
    border-color: #0000FF;
    padding: 0.5rem;
}