.sec-1{
    display: flex;
height: 670px;
padding: 205px 345px 205px 346px;
justify-content: center;
align-items: center;
background:linear-gradient(90deg, rgba(255, 255, 255, 0.96) 0%, rgba(255, 255, 255, 0.77) 100%),url(../../../../public/easy-transaction.png);
background-size: cover;
background-repeat: no-repeat;

flex-direction: column;
/* align-items: center; */
gap: 40px;

}


.sec-1 .top{
    display: flex;
flex-direction: column;
align-items: center;
gap: 12px;
align-self: stretch;
}

.sec-1 .top h3{
    color: var(--gray-900, #1D242A);

/* Heading/2 */
font-family: Epilogue;
font-size: 48px;
font-style: normal;
font-weight: 700;
line-height: 72px;
}


.sec-1 .top span{
    color: var(--primary-500, #2196F3);

/* Heading/2 */
font-family: Epilogue;
font-size: 48px;
font-style: normal;
font-weight: 700;
line-height: 72px; /* 150% */
}


.sec-1 .top p{
    color: var(--gray-600, #5C7184);
text-align: center;

/* Body/M */
font-family: Poppins;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 24px; /* 150% */
align-self: stretch;
}

.sec-1 .bottom button{
    display: flex;
width: 180px;
padding: 20px 32px;
justify-content: center;
align-items: center;
gap: 10px;
border-radius: 8px;
background: var(--primary-500, #2196F3);
}


.sec-2 , .sec-3{
display: flex;
height: 640px;
padding: 101px 98px 100px 99px;
justify-content: center;
align-items: center;
gap: 64px;
flex-direction: row !important;
}



.sec-2 .sec-2-left ,.sec-3 .sec-3-right{
    display: inline-flex;
flex-direction: column;
align-items: flex-start;
gap: 24px;
}


.sec-2 .sec-2-left .info h4 , .sec-3 .sec-3-right .info h4{
    color: var(--primary-500, #2196F3);
font-family: Poppins;
font-size: 20px;
font-style: normal;
font-weight: 600;
line-height: normal;
text-transform: uppercase;

}

.sec-2 .sec-2-left .info h2 , .sec-3 .sec-3-right .info h2{
    color: var(--gray-900, #1D242A);
    width: 579px;
/* Heading/3 */
font-family: Epilogue;
font-size: 40px;
font-style: normal;
font-weight: 700;
line-height: 64px; /* 160% */
}


.sec-2 .sec-2-left .info span, .sec-3 .sec-3-right .info span{
    color: var(--primary-500, #2196F3);

/* Heading/3 */
font-family: Epilogue;
font-size: 40px;
font-style: normal;
font-weight: 700;
line-height: 64px;
}

.sec-2 .sec-2-left .info text , .sec-3 .sec-3-right .info text{
    color: var(--gray-600, #5C7184);
text-align: justify;
align-self: stretch;
/* Body/M */
font-family: Poppins;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 24px; /* 150% */
}

.sec-2 .sec-2-left button , .sec-3 .sec-3-right button{
    display: flex;
padding: 16px 32px;
justify-content: center;
align-items: center;
    border-radius: 8px;
background: var(--primary-500, #2196F3);
}

.why-sec-4{
display: flex;
height: 670px;
padding: 83px 94px;
flex-direction: column;
gap: 40px;
justify-content: center;
align-items: center;
background: var(--gray-0, #FFF);
}

.why-sec-4 .sec-4-top{
    display: flex;
flex-direction: column;
align-items: center;
gap: 12px;
}

.why-sec-4 .sec-4-top h2{
    color: var(--gray-900, #1D242A);
text-align: center;

/* Heading/3 */
font-family: Epilogue;
font-size: 40px;
font-style: normal;
font-weight: 700;
line-height: 64px; /* 160% */
}



.why-sec-4 .sec-4-top span{
    color: var(--primary-500, #2196F3);

/* Heading/3 */
font-family: Epilogue;
font-size: 40px;
font-style: normal;
font-weight: 700;
line-height: 64px;
}

.why-sec-4 .sec-4-top p{
    color: var(--gray-600, #5C7184);
text-align: center;
width: 930px;
/* Body/M */
font-family: Poppins;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 24px; /* 150% */
}


.why-sec-4 .sec-4-bottom .info-list{
    display: flex;
align-items: flex-start;
gap: 24px;
}

.why-sec-4 .sec-4-bottom .info-list .top{
    display: flex;
width: 80px;
height: 80px;
justify-content: center;
align-items: center;
}

.why-sec-4 .sec-4-bottom .info-list .info-1 ,.why-sec-4 .sec-4-bottom .info-list .info-2,.why-sec-4 .sec-4-bottom .info-list .info-3,.why-sec-4 .sec-4-bottom .info-list .info-4{
    display: flex;
    height: 400px;
width: 295px;
padding: 24px;
flex-direction: column;
justify-content: center;
align-items: center;
gap: 24px;
border-radius: 12px;
border: 1px solid var(--gray-200, #C6CFD7);
background: var(--gray-0, #FFF);

/* shadow1 */
box-shadow: 0px 8px 12px 0px rgba(0, 0, 0, 0.08);
}


.why-sec-4 .sec-4-bottom .info-list .bottom{
    display: flex;
flex-direction: column;
align-items: center;
gap: 12px;
align-self: stretch;
}

.why-sec-4 .sec-4-bottom .info-list h4{
    color: var(--gray-900, #1D242A);
text-align: center;
font-family: Poppins;
font-size: 20px;
font-style: normal;
font-weight: 600;
line-height: 32px; /* 160% */
}


.why-sec-4 .sec-4-bottom .info-list p{
    color: var(--gray-600, #5C7184);
text-align: center;
align-self: stretch;
/* Body/M */
font-family: Poppins;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 24px; /* 150% */
}



.sec-6{
    background: var(--gray-50, #F0F3F5);
}

