.movers {
    /* Adjust the height as needed */
   height: 100%;
    width: 100%;
}

.movers .movers-table{
    padding-right: 10px;
    width: 100%;
    padding-bottom: 10px;
}

.movers .movers-table th, .movers .movers-table td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: center;
  }
  
  .movers .movers-table thead {
    background-color: #95CDF9;


  }
  
  .movers .movers-table tbody tr:nth-child(even) {
    background-color: #f9f9f9;
  }


  .movers img{
    width: 50%;
    
  }

  .movers th , .movers td{
    text-align: center;
  }


  .movers{
    height: 100%;
    overflow-y: scroll;
  }
  .movers table{
    width: 100%;
    overflow-y: scroll;
    height: 20px;

  }

  .movers table th,  .movers table td{
    border-left: none;
    border-right: none;
  }